@model IEnumerable<Eval3ProgAvanzada.Models.Herramienta>
@{
    ViewData["Title"] = "Herramientas";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var herramienta in Model)
        {
            <tr>
                <td>@herramienta.Modelo.Nombre</td>
                <td>@herramienta.Marca</td>
                <td>@herramienta.Estado</td>
                <td>
                    <a href="@Url.Action("Edit", "Herramienta", new { id = herramienta.Id })">Editar</a> |
                    <a href="@Url.Action("Delete", "Herramienta", new { id = herramienta.Id })">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Herramienta")">Agregar Nueva Herramienta</a>
